<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Zpi3yW0fFDFsfB4qX2wfCgHswOun-3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>79921888734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urgetalks.urgetalks</string>
	<key>PROJECT_ID</key>
	<string>urgetalks-90e71</string>
	<key>STORAGE_BUCKET</key>
	<string>urgetalks-90e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79921888734:ios:54ba9f76ad5c1d139ab14f</string>
</dict>
</plist>